*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  min-height: 100vh;
  place-items: center;
  
}
ul{
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
a{
  text-decoration: none;
  color: inherit;
}
h1{
  font-size: 2rem;
}


.header ul{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.active{
  color: hotpink;
}
.part-yellow{
  margin-top: 500px;
  height: 400px;
  background-color: yellow;
}
.part-green{
  margin-top: 500px;
  height: 400px;
  background-color: green;
}

.part-red{
  margin-top: 500px;
  height: 400px;
  background-color: red;
}